@font-face {
    font-family: Graviola;
    src: url('../../../assets/fonts/Graviola-Regular.otf');
}

@font-face {
    font-family: Mosk;
    src: url("../../../assets/fonts/Mosk_Typeface/Mosk Medium 500.ttf"),
         url("../../../assets/fonts/Mosk_Typeface/Mosk Normal 400.ttf");
}

$header-color: #0099FF;
$header-height: 120px;

#header-container {
    height: $header-height;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; // If you use position absolute, it will find the first position relative
    background-color: $header-color;
    height: $header-height;

    .ui.button {
        font-family: Mosk;
        font-weight: bold;
        background: #0099FF;
        float: left;
    }
    
    img {
        height: 50px;
        margin: 4px;
        background: #0099FF;
    }

    h1 {
        // absolute relative to the header
        position: absolute; // overrides align-items & justify
        left: 50%; 
        transform: translate(-50%, -25%); // 50% of the text box's width
        font-family: Mosk; 
        font-size: 60px;
        color: white;
    }

    .login {
        margin: 4px;
    }
}