@font-face {
    font-family: Mosk;
    src: url("../../../../assets/fonts/Mosk_Typeface/Mosk Medium 500.ttf"),
        url("../../../../assets/fonts/Mosk_Typeface/Mosk Normal 400.ttf");

}

#wrapper {
    height: 700px;
    width: 100%;
}
#review-container {
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#submit {
    display: flex;
    justify-content: center;
}

#logistics {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-size: 1.5em;
    }
}
.strip {
    width: 100%;
    p {
        font-size: 1.5em;
        margin-right: 20px;
    }
}

.rating{
    display: flex;
    align-items: center;
    

    div {
        font-size: 1.5em;
        margin-right: 20px;
    }
}