@font-face {
    font-family: Mosk;
    src: url("../../../../assets/fonts/Mosk_Typeface/Mosk Medium 500.ttf"),
        url("../../../../assets/fonts/Mosk_Typeface/Mosk Normal 400.ttf");

}

#review-container {
    margin: auto;
}